<!DOCTYPE html>
<html lang="ko">
<head>
<title>Board</title>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css"  href="/html/css/style.css">

<script type="text/javascript" src="/html/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/html/js/common.js"></script>
<script type="text/javascript" src="/html/js/jquery.slides.js"></script>
<script type="text/javascript" src="/html/js/jquery.als-1.7.js"></script>
<script language="javascript" type="text/javascript" src="/common/js/common.js"></script>
<script language="javascript" type="text/javascript" src="/common/js/validate.js"></script>
<script language="javascript" type="text/javascript" src="/common/cheditor/cheditor.js"></script>

</head>