@charset "utf-8";

/* reset css */
body{overflow-y:scroll;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{margin:0;padding:0}
body{font-size:0.75em;line-height:1.5;background:#fff;color:#545454;-webkit-text-size-adjust:none}
body,input,textarea,select,button,table{font-family:'맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-serif}
section,nav,article,aside,hgroup,header,footer{display:block}
input,textarea,select,button,table{font-size:inherit;font-family:inherit;line-height:inherit;vertical-align:top}
table{border-spacing:0;border-collapse: collapse;width:100%}
ol,ul,li {list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;line-height:1.5}
abbr,acronym {border:0}
hr, legend, .hidden{position:absolute;top:0;left:-3000px;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%}
caption{position:relative;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%;text-indent:-9999px}
img, fieldset{border:0 none}
button,label{cursor:pointer}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
.skip_nav{position:relative;}
.skip_nav a{display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; font-size:0;color:transparent; color:#fff; font-weight:700; white-space:nowrap;}
.skip_nav a:focus,.skip_nav a:active{height:auto; width:100%; padding:5px; margin-bottom:10px; position:absolute; left:0; top:0;font-size:20px; background:#2466a6;z-index:10}


/* 공통 */
.clear:after{content:""; display:block; clear:both;}
input[type=text]{border:1px solid #d3d3d3;padding:4px 4px 4px 4px;height:18px;line-height:18px}
input[type=password]{border:1px solid #d3d3d3;padding:4px 4px 4px 4px;height:18px;line-height:18px}
input[type=checkbox]{vertical-align:middle}
input[type=radio]{vertical-align:middle}
select{border:1px solid #d3d3d3;padding:4px 3px 5px 3px}
.w90{width:90px}
.w120{width:120px}
.w140{width:140px}
.w160{width:160px}
.w170{width:170px}
.w188{width:188px}
.w200{width:200px}
.w240{width:240px}
.w264{width:264px}
.w290{width:290px}
.w370{width:370px}
.w480{width:480px}
.w540{width:540px}
.w790{width:790px}
.pd020{padding:0 20px}
.plr34{padding:0 4px 0 3px}
.pr20{padding-right:20px}
.pt35{padding-top:35px}
.mg2{margin:2px}
.mt7{margin-top:7px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mt40{margin-top:40px}
.mt50{margin-top:50px}
.mt70{margin-top:70px}
.ml16{margin-left:16px}
.md30{margin-bottom:30px}
.tc_red{color:#ce172c}
.tc_green{color:#1f7e2f}
.bold{font-weight:bold}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left !important}
.vat{vertical-align:top}
/* 웹 */
/*
@media all and (min-width:1025px) {
*/
#wrap{min-width:1140px}
.page_wrap {min-height:600px;padding-bottom:50px;width:100%}
.inner{width:1140px;margin:0 auto}
.inner:after{content:""; display:block; clear:both;}
.top_area{background-color:#f2f2f2;height:45px;border-bottom:1px solid #d9d9d9}
.top_area .pgae_type{float:left;line-height:45px}
.top_area .pgae_type .pt_list{float:left}
.top_area .pgae_type .pt_list li{float:left;width:108px;background-color:#f2f2f2;text-align:center;border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;margin-left:-1px;border-bottom:1px solid #d9d9d9;height:45px}
.top_area .pgae_type .pt_list li a{font-size:15px;color:#505050;display:block}
.top_area .pgae_type .pt_list li.on{border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;background-color:#fff;position:relative;z-index:1;border-bottom:1px solid #fff}
.top_area .sys_menu{float:right}
.top_area .sys_menu li{float:left;line-height:45px;padding:0 20px;}
.header_area{padding:20px 0 0 0;}
.header_area .logo{float:left;margin-right:25px;padding-left:25px;height:110px}

.header_area .header_best {float:left;line-height:27px;margin-top:29px}
.header_area .header_best li{float:left;padding:0 20px}
.header_area .header_right{float:right;line-height:27px;margin-top:29px}
.header_right .search_box{float:left;position:relative}
.header_right .search_box .s_keyword{border: 1px solid #e1e1e1;border-radius: 25px;height: 25px;line-height:25px;font-size: 12px;width: 100px;padding:0 30px 0 10px;-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}
.header_right .search_box .s_keyword:focus{width:200px}
.header_right .search_box .btn_search{position:absolute;right:10px;top:4px}
.header_right .util_menu{float:left}
.header_right .util_menu li{float:left;padding:0 20px;background: url(../images/blt/blt_gbar.gif) no-repeat 0 50%}
.header_right .util_menu li.myshop{background-image:none}
.gnb{border-bottom:1px solid #d9d9d9}
.gnb_list{position:relative;padding-left:50px}
.gnb_list > li{float:left;padding:15px 20px;position:relative}
.gnb_list > li > a{font-size:15px;font-weight:bold;color:#505050}

.gnb_list li .depth2{display:none;position:absolute;left:50%;top:43px;width:190px;margin-left:-95px;background-color:#fff;padding-top:7px}
.gnb_list li .depth2 ul{border:1px solid #cbcbcb}
.gnb_list li .depth2 ul li{padding:12px 0 13px 25px;line-height:16px;border-top:1px solid #dfdfdf;background: url(../images/blt/blt_dot.png) no-repeat 17px 18px}
.gnb_list li .depth2 ul li.first{border-top:none}
.gnb_list li .depth2 ul li a{display:block}
.gnb_list li .depth2 .ic_gnb{position:absolute;left:50%;top:-5px;margin-left:-7px}
.gnb_list > li:hover .depth2{display:block;width:190px;height:auto;top:43px;z-index:30}
.page_main_tt{font-size:22px;font-weight:bold;line-height:150%;color:#555}
.page_sub_tt{font-size:16px;font-weight:bold;line-height:150%;color:#555}
.join_type{overflow:hidden}
.join_type li{width:250px;background-color:#f7f7f7;text-align:center;float:left;margin-left:20px;margin-bottom:20px;padding:9px;border:1px solid #dfdfdf}
.join_type li .in_box{border:1px solid #fff;height:182px;padding-top:95px}
.join_type li .type_title{text-align:center;font-size:22px;font-weight:bold;color:#444;line-height:150%;margin-bottom:25px}
.join_type li.first{margin-left:0}

.clause_box{padding:9px;background-color:#fff;border:1px solid #e9e9e9}
.clause_box .clause_in{border:1px solid #e9e9e9;padding:18px;background-color:#fff;height:464px;overflow-y:scroll;line-height:21px;text-align:left}
.certi_box{padding:60px 0;border:1px solid #dfdfdf;text-align:center}
.certi_box2{padding:30px 0;border:1px solid #dfdfdf;text-align:center}

.certi_box .certi_con .certi_text{font-size:14px;line-height:20px;padding-bottom:20px}
.certi_box .certi_con label{font-size:13px;font-weight:bold;line-height:28px}
.certi_corp{text-align:left;padding:50px 0 50px 175px}
.certi_corp label{width:125px;display:inline-block}
.certi_corp .certi_con{margin:10px 0}
.path_wrap{background-color:#f5f5f5;padding:14px 0 15px 0;border-bottom:1px solid #d9d9d9}
.path_list{}
.path_list li{float:left;padding-left:15px;background: url(../images/blt/blt_gbar.gif) no-repeat 0 50%;padding-right:12px;color:#989797}
.path_list li.first{padding-left:0;background-image:none}
.path_list li.last{color:#505050}

.lcrb_wrap{margin-top:12px}
.lcrb_wrap > label{float:left}
.lcrb_wrap > .rb_wrap{float:right}

.join_insert{border:1px solid #dadada;padding:10px 0;position:relative}
.join_insert .insert_list{}
.join_insert .insert_list li{float:left;width:50%;line-height:34px;margin:7px 0 8px 0}
.join_insert .insert_list li.oneline{width:100%}
.join_insert .insert_list li .is_th{float:left;width:152px;text-indent:24px;font-size:13px;line-height:28px}
.join_insert .insert_list li .is_th label.req{background: url(../images/blt/ic_req.png) no-repeat 10px 10px;display:block}
.join_insert .insert_list li .is_td{float:left;width:417px}
.join_insert .insert_list li .is_td label{padding-right:20px}
.join_insert .insert_list li.oneline .is_td{float:left;width:986px}
.join_insert .insert_list li .is_td input.addr1{width:370px;margin-top:7px}
.join_insert .insert_list li .is_td input.addr2{width:580px;margin-top:7px}
.join_insert .ic_req{position:absolute;right:0;top:-30px}
.join_insert .ic_req strong{display:inline-block;width:12px;height:12px;background: url(../images/blt/ic_req.png) no-repeat 50% 50%;text-indent:-9999px}
.join_comple{padding:45px 0;border:1px solid #dfdfdf}
.join_comple .jc_tt{text-align:center;font-size:24px;line-height:150%}
.join_comple .jc_tx{text-align:center;font-size:14px;line-height:24px;margin-top:25px}
.join_comple .jc_gbox{width:244px;padding:10px 0;background-color:#f9f9f9;border:1px solid #cdcdcd ;margin:20px auto 0;padding-left:65px}
.join_comple .jc_gbox p{font-size:14px;line-height:24px}
.join_comple .jc_tx .tc_join{font-size:16px;color:#987d01}



.btn_agree{display:inline-block;border:1px solid #404040;text-align:center;background-color:#5a5a5a;border-radius:4px;color:#fff}
.btn_wh{display:inline-block;border:1px solid #404040;text-align:center;background-color:#fff;border-radius:4px;color:#444}
.btn_gray{display:inline-block;border:1px solid #9f9f9f;text-align:center;background-color:#f5f5f5;border-radius:4px;color:#505050}
.btn_dark{display:inline-block;border:1px solid #086196;text-align:center;background-color:#0783bd;color:#fff;border-radius:4px}
.btn_gb{display:inline-block;border:1px solid #9f9f9f;text-align:center;background-color:#f5f5f5;color:#505050;border-radius:4px}
.btn_pink{display:inline-block;border:1px solid #b3347a;text-align:center;background-color:#cd3e8d;color:#fff;border-radius:4px}
.btn_pp{display:inline-block;border:1px solid #623fb0;text-align:center;background-color:#7858bf;color:#fff;border-radius:4px}
em.tg_wright{padding-left:16px;background: url(../images/blt/tg_wright.png) no-repeat 100% 50%;text-indent:-9999px;display:inline-block}
em.tg_bright{padding-left:16px;background: url(../images/blt/tg_bright.png) no-repeat 100% 50%;text-indent:-9999px;display:inline-block}

.btn_wb{display:inline-block;border:2px solid #444;font-weight:bold;text-align:center;background-color:#fff}
.btn_wb:hover{background-color:#444;color:#fff}
.btn_gw{display:inline-block;border:1px solid #369946;text-align:center;background-color:#42b856;color:#fff;border-radius:4px}
.btn_foot{display:inline-block;border:1px solid #6b6b6b;font-weight:bold;text-align:center;background-color:#6b6b6b;color:#cacaca;font-weight:bold}
.btn_learn{display:inline-block;border:1px solid #086196;border-radius:14px;background-color:#0783bd;color:#fff}

.btn_size78{width:78px;height:26px;font-size:13px;line-height:22px;font-weight:bold}
.btn_size88{width:88px;height:28px;font-size:13px;line-height:24px}
.btn_size111{width:111px;height:30px;font-size:13px;line-height:26px}
.btn_size130{width:130px;height:28px;font-size:13px;line-height:24px}
.btn_size148{width:148px;height:38px;font-size:15px;line-height:34px}
.btn_size140{width:140px;height:33px;font-size:15px;line-height:29px}
.btn_size170{width:170px;height:38px;font-size:14px;line-height:34px}
.btn_size270{width:270px;height:38px;font-size:14px;line-height:34px}

.btn_mini{padding:4px 5px 4px 5px;font-size:12px} 
.btn_tx{padding:4px 24px 4px 23px;font-size:14px} 
.btn_tx2{padding:7px 16px 8px 24px;font-size:15px}




footer{}
footer .foot_menu{border-top:1px solid #b8b8b8;height:40px}
footer .foot_menu .foot_list{height:40px;float:right;position:relative;left: -50%;}
footer .foot_menu .foot_list li{float:left;position: relative;left: 50%;background: url(../images/blt/blt_gbar.gif) no-repeat 0 50%}
footer .foot_menu .foot_list li.first{background-image:none}
footer .foot_menu .foot_list li a{display:block;padding:0 50px;line-height:40px}
footer .foot_info{background-color:#414141;padding:40px 0;color:#9b9b9b}
footer .foot_info .foot_left{float:left;width:755px}
footer .foot_info .fl_tx{float:left;line-height:20px;padding-left:20px;width:477px}
footer .foot_info .fl_tx h6{color:#fff;font-size:14px}
footer .foot_info .fl_tx span{color:#9b9b9b;font-size:12px}
footer .foot_info .fl_center{float:left;margin-top:15px}
footer .foot_info .fl_center .foot_ic{float:left;width:110px}
footer .foot_info .fl_center .foot_ic .fit{font-weight:bold;color:#6b6b6b;font-size:14px;padding-bottom:10px;text-align:center;display:block}
footer .foot_info .fl_center .foot_ic .fii{text-align:center;display:block}
footer .foot_info .foot_right{float:left;width:357px;border-left:1px solid #6b6b6b;padding-left:27px;line-height:20px}
footer .foot_info .foot_right h6{color:#fff;font-size:14px}
footer .foot_info .foot_right span{color:#9b9b9b;font-size:12px}
footer .foot_copy{line-height:18px;padding:15px 0;color:#777}
footer .foot_copy em{font-size:11px;color:#c9c9c9}

.title_area{height:27px;background: url(../images/bg/title_bg.gif) repeat-x 0 50%}
.title_area .ta_tt{font-weight:bold;font-size:18px;color:#555;line-height:27px;text-align:center}
.title_area .ta_tt span{background-color:#fff;padding:0 20px}
.product_ul{margin-left:-20px}
.product_ul li{float:left;margin-left:20px;overflow:hidden;margin-top:20px;padding-bottom:20px;width:270px;height:380px}
.product_ul li.nodata{width:100%;float:none;text-align:center;line-height:380px;margin-left:0}
.product_ul li span{text-align:center;display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.product_ul li span.tal{text-align:left;display:block}
.product_ul .p_img_box{width:268px;height:258px;border:1px solid #dfdfdf;position:relative;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.product_ul .p_img_box > img{width:268px;height:258px;}
.product_ul li .p_img_box a{-webkit-transition: all 1.0s ease;-o-transition: all 1.0s ease;transition: all 1.0s ease;position:absolute;left:50%;top:50%;margin-left:-28px;margin-top:-28px;opacity:0; filter: alpha(opacity=0);}
.product_ul .p_title{margin-top:18px;font-size:14px;color:#505050}
.product_ul .p_price{color:#505050;font-size:16px;font-weight:bold;margin-top:8px}
.product_ul .p_detail{margin-top:8px}
.product_ul .p_text{margin-top:8px;height:50px}
.btn_detail{display:inline-block;width:120px;height:26px;line-height:26px;border:1px solid #dfdfdf;border-radius:13px;text-align:center;font-size:14px}
.btn_detail2{display:inline-block;width:96px;height:18px;line-height:18px;border:1px solid #dfdfdf;border-radius:18px;text-align:center;font-size:12px}
.product_ul li:hover{}
.product_ul li:hover .p_img_box{border:1px solid #7d7d7d; -webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
.product_ul li:hover .p_img_box a{opacity:1;width:55px;height:55px;filter: alpha(opacity=100)}


.titem{}
.titem .ftab{height:35px;border-bottom:1px solid #dfdfdf}
.titem .ftab .tab_title{;float:left;}
.titem .ftab .tab_title li{float:left;border:1px solid #dfdfdf;line-height:34px;margin-left:-1px;height:34px}
.titem .ftab .tab_title li.first{margin-left:0}
.titem .ftab .tab_title li.on{background-color:#f6f6f5}
.titem .ftab .tab_title li a{display:block;padding:0 15px;height:34px;font-size:14px}
.titem .ftab .rdo_box{float:left;height:34px;line-height:34px}
.titem .ftab .rdo_box label{padding:0 15px}

/* grid type list */
.tb_grid{}
.tb_grid table tbody td {border-bottom:1px solid #dfdfdf}
.tb_grid table tbody td.img_td{padding:20px 0}
.tb_grid table tbody td.text_td{padding:20px}
.tb_grid table tbody td span.g_img_box{display:block;width:268px;height:228px;border:1px solid #dfdfdf}
.tb_grid table tbody td span.g_img_box a{display:block}
.tb_grid table tbody td.text_td span{font-size:14px;color:#505050;line-height:24px;display:block;padding-left:10px}
.tb_grid table tbody td.text_td span.g_tt{font-size:16px;font-weight:bold;color:#505050;display:block}
.tb_grid table tbody td.text_td span.g_tx{height:48px}
.tb_grid table tbody td.text_td span.g_price{font-size:16px;font-weight:bold;color:#505050;display:block;padding-top:24px}
.tb_grid table tbody td.text_td span.g_btn_detail{padding-top:20px;padding-left:0}
.tb_grid table tbody td.nodata{padding:30px 0;text-align:center;font-size:14px}

.main_visual{text-align:center;height:500px}
.main_visual{overflow:hidden;position:relative;height:500px}
.main_visual .slide{height:500px}
.main_visual .slidesjs-container{height:500px !important;overflow:hidden}
.main_visual .slidesjs-pagination{position:relative;left:-50%;bottom:38px;z-index:50;}
.main_visual .slidesjs-pagination li{display:inline-block;margin:0 3px 0 3px;position:relative;left:50%}
.main_visual .slidesjs-pagination li a{display:block;width:15px;height:15px;background: url(../images/visual/page_li.png) no-repeat 0 0;text-indent:-9999px;}
.main_visual .slidesjs-pagination li a.active{display:block;width:15px;height:15px;background: url(../images/visual/page_li_on.png) no-repeat 0 0}
.main_visual .slidesjs-play{display:none;position:absolute;right:50%;bottom:28px;z-index:50;background: url(../images/visual/mv_play.gif) no-repeat 0 0;width:13px;height:12px;text-indent:-9999px;margin-right:-456px}
.main_visual .slidesjs-stop{display:none;position:absolute;right:50%;bottom:28px;z-index:50;background: url(../images/visual/mv_stop.gif) no-repeat 0 0;width:13px;height:12px;text-indent:-9999px;margin-right:-456px}
.main_visual .slidesjs-previous{position:absolute;left:50%;top:50%;z-index:15;display:block;width:42px;height:42px;text-indent:-9999px;background: url(../images/visual/page_prev.png) no-repeat 0 0;margin-top:-21px;margin-left:-570px}
.main_visual .slidesjs-next{position:absolute;right:50%;top:50%;z-index:15;display:block;width:42px;height:42px;text-indent:-9999px;background: url(../images/visual/page_next.png) no-repeat 0 0;margin-top:-21px;margin-right:-570px}

.designer_visual{height:310px}
.designer_visual{overflow:hidden;position:relative;height:310px;background: url(../images/bg/designer_bg.png) repeat-x 50% 0;background-size:100%}
.designer_visual .slide{height:310px}
.designer_visual .slidesjs-container{height:310px !important;overflow:hidden}
.designer_visual .slidesjs-pagination{position:relative;left:-50%;bottom:38px;z-index:50;display:none}
.designer_visual .slidesjs-pagination li{display:inline-block;margin:0 3px 0 3px;position:relative;left:50%}
.designer_visual .slidesjs-pagination li a{display:block;width:15px;height:15px;background: url(../images/visual/page_li.png) no-repeat 0 0;text-indent:-9999px;}
.designer_visual .slidesjs-pagination li a.active{display:block;width:15px;height:15px;background: url(../images/visual/page_li_on.png) no-repeat 0 0}
.designer_visual .slidesjs-play{display:none;position:absolute;right:50%;bottom:28px;z-index:50;background: url(../images/visual/mv_play.gif) no-repeat 0 0;width:13px;height:12px;text-indent:-9999px;margin-right:-456px}
.designer_visual .slidesjs-stop{display:none;position:absolute;right:50%;bottom:28px;z-index:50;background: url(../images/visual/mv_stop.gif) no-repeat 0 0;width:13px;height:12px;text-indent:-9999px;margin-right:-456px}
.designer_visual .slidesjs-previous{position:absolute;left:50%;top:50%;z-index:15;display:block;width:42px;height:42px;text-indent:-9999px;background: url(../images/visual/page_prev.png) no-repeat 0 0;margin-top:-21px;margin-left:-570px}
.designer_visual .slidesjs-next{position:absolute;right:50%;top:50%;z-index:15;display:block;width:42px;height:42px;text-indent:-9999px;background: url(../images/visual/page_next.png) no-repeat 0 0;margin-top:-21px;margin-right:-570px}
.designer_visual .slide_in{padding:50px 0 44px 0}
.designer_visual .img_box{float:left;margin-left:57px;margin-right:46px}
.designer_visual .txbox_bot{position:relative;float:left;width:764px;padding-bottom:15px;background: url(../images/bg/txbox_bot.png) no-repeat 0 100%;margin-top:15px}
.designer_visual .txbox_top{width:764px;padding-top:15px;background: url(../images/bg/txbox_top.png) no-repeat 0 0}
.designer_visual .txbox_mid{width:694px;background: url(../images/bg/txbox_mid.png) repeat-y 0 0;padding:0 35px}
.designer_visual .txbox_bot .txbox_left{position:absolute;left:-28px;top:50%;margin-top:-20px}
.designer_visual .txbox_mid .d_name{font-size:18px;font-weight:bold;line-height:24px}
.designer_visual .txbox_mid .d_nickname{font-size:14px;color:#505050;line-height:24px;margin-top:15px}
.designer_visual .txbox_mid .d_textarea{font-size:16px;color:#ababab;line-height:24px;padding-left:50px}
.designer_visual .txbox_mid .btn_learn{margin-top:6px;margin-left:50px}

.cate_visual{overflow:hidden;position:relative;height:300px;text-align:center}
.cate_visual .slide{height:300px}
.cate_visual .slidesjs-container{height:300px !important;overflow:hidden}
.cate_visual .slidesjs-pagination{position:relative;left:-50%;bottom:38px;z-index:50;}
.cate_visual .slidesjs-pagination li{display:inline-block;margin:0 3px 0 3px;position:relative;left:50%}
.cate_visual .slidesjs-pagination li a{display:block;width:15px;height:15px;background: url(../images/visual/page_li.png) no-repeat 0 0;text-indent:-9999px;}
.cate_visual .slidesjs-pagination li a.active{display:block;width:15px;height:15px;background: url(../images/visual/page_li_on.png) no-repeat 0 0}
.cate_visual .slidesjs-play{display:none;position:absolute;right:50%;bottom:28px;z-index:50;background: url(../images/visual/mv_play.gif) no-repeat 0 0;width:13px;height:12px;text-indent:-9999px;margin-right:-456px}
.cate_visual .slidesjs-stop{display:none;position:absolute;right:50%;bottom:28px;z-index:50;background: url(../images/visual/mv_stop.gif) no-repeat 0 0;width:13px;height:12px;text-indent:-9999px;margin-right:-456px}
.cate_visual .slidesjs-previous{position:absolute;left:50%;top:50%;z-index:15;display:block;width:42px;height:42px;text-indent:-9999px;background: url(../images/visual/page_prev.png) no-repeat 0 0;margin-top:-21px;margin-left:-570px}
.cate_visual .slidesjs-next{position:absolute;right:50%;top:50%;z-index:15;display:block;width:42px;height:42px;text-indent:-9999px;background: url(../images/visual/page_next.png) no-repeat 0 0;margin-top:-21px;margin-right:-570px}



.banner_area{}
.banner_area .banner_con1{width:358px;height:561px;float:left;border:1px solid #dfdfdf;margin-right:29px}
.banner_area .banner_con2{width:751px;height:187px;float:left;margin-bottom:30px}
.banner_area .banner_con3{width:358px;height:345px;float:left;margin-right:32px}
.banner_area .banner_con4{width:361px;height:158px;float:left;margin-bottom:30px}
.banner_area .banner_con5{width:361px;height:158px;float:left}

.my_model_insert{}
.my_model_insert tbody th{border:1px solid #dfdfdf;background-color:#f9f9f9;color:#505050;font-size:13px;padding:10px 0}
.my_model_insert tbody td{border:1px solid #dfdfdf;padding:7px 12px;}
.my_model_insert tbody td .word_cnt{line-height:28px}
.my_model_insert tbody td select{width:100%}
.my_model_insert tbody td .ug_text{min-height:130px}
.my_model_insert tbody td .up_img_list{margin-left:-17px;margin-bottom:15px}
.my_model_insert tbody td .up_img_list li{float:left;position:relative;margin-left:17px}
.my_model_insert tbody td .up_img_list li span.img_box{width:169px;height:122px;border:1px solid #dfdfdf;display:block}
.my_model_insert tbody td .up_img_list li span.img_box img{width:169px;height:122px}
.my_model_insert tbody td .up_img_list li span.up_del{position:absolute;right:0;bottom:0;display:block;width:18px;height:18px}
.my_model_insert tbody td .up_img_list li span.up_del a{display:block}
.my_model_insert tbody td .up_notice{margin-top:15px}
.my_model_insert tbody td .up_notice .mini{color:#9d9d9d;line-height:21px}
.my_model_insert tbody td .ta_box{border:1px solid #d3d3d3;padding:10px}
.my_model_insert tbody td .ta_box textarea{border:none;width:100%;height:100px}

.list_dot{}
.list_dot li{padding-left:9px;background: url(../images/blt/blt_dot.png) no-repeat 0 12px}
.my_model_listsearch{}
.my_model_listsearch .list_dot{padding:15px 38px 5px 38px;border:1px solid #dfdfdf}
.my_model_listsearch li{float:left;line-height:28px;margin-bottom:10px;width:522px}
.my_model_listsearch li label{display:block;float:left;width:75px;font-size:13px}
.my_model_listsearch li .ls_box{float:left;width:445px}
.my_model_listsearch li .ls_box button{line-height:18px;height:28px}

.my_model_list table{}
.my_model_list table thead th{font-weight:bold;font-size:13px;background-color:#f9f9f9;border-bottom:1px solid #dfdfdf;border-top:1px solid #dfdfdf;padding:11px 0}
.my_model_list table tbody td{text-align:center;border-bottom:1px solid #dfdfdf;padding:10px;font-size:13px}
.my_model_list table tbody td .img_box img{vertical-align:middle;border:1px solid #dfdfdf}

.printing_service{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.printing_service .service_list{padding:25px 25px 5px 25px}
.printing_service .service_list li{float:left;width:180px;margin-bottom:20px}
.print_info{}
.print_info .print_img{float:left;width:558px}
.print_info .print_img .aaa{border:1px solid #dfdfdf;;height:409px}
.print_info .print_img .aaa img{width:556px;height:409px}
.print_info .print_size{float:left;width:560px;margin-left:20px}
.print_info .print_size .print_option{border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:8px 0}
.print_info .print_size .print_option li{padding-left:9px}
.print_info .print_size .print_option li strong{display:block;float:left;width:170px;font-size:14px;line-height:20px;padding:8px 0}
.print_info .print_size .print_option li span{display:block;float:left;width:380px;font-size:14px;line-height:20px;padding:8px 0}
.option_title{line-height:34px;border-top:1px solid #aaa;border-bottom:1px solid #e2e2e2;background-color:#f8f8f8;font-size:14px;padding-left:20px}
.option_out{padding-top:40px}
.option_out .print_option{margin-left:-20px}
.option_out .print_option li{float:left;padding-left:9px;margin-left:20px}
.option_out .print_option li strong{display:block;float:left;width:170px;font-size:14px;line-height:36px}
.option_out .print_option li span{display:block;float:left;width:380px;font-size:14px;line-height:36px}

.design_tab .tab_title{border-bottom:1px solid #dfdfdf;height:35px}
.design_tab .tab_title li{width:198px;border:1px solid #dfdfdf;height:34px;float:left;position:relative;z-index:10;margin-left:-1px}
.design_tab .tab_title li.first{margin-left:0}
.design_tab .tab_title li.on{background-color:#f6f6f5}
.design_tab .tab_title li a{display:block;line-height:34px;text-align:center;font-size:14px}
.service_text{border:1px solid #dfdfdf;padding:20px 25px;min-height:140px}
.deli_text{border:1px solid #dfdfdf;padding:20px 25px;min-height:140px}
.design_tab_tt{float:left;font-size:13px;line-height:28px}
.design_rbtn{float:right;display:block}

.tb_list{margin-top:6px}
.tb_list table thead th{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;padding:11px 0;background-color:#f9f9f9;font-size:13px}
.tb_list table tbody td{border-bottom:1px solid #dfdfdf;padding:11px 8px;text-align:center;font-size:13px}
.tb_list table tbody td a{font-size:13px}
.tb_list table tbody td .p_subject{display:inline-block;max-width:550px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:20px;vertical-align:middle}
.right_content .tb_list table tbody td .p_subject{max-width:355px}
.tb_list table tbody td .q_comple{display:inline-block;vertical-align:top;background-color:#fff;border:1px solid #e71818;color:#e71818;height:26px;line-height:26px;width:64px;text-align:center;margin-right:5px;border-radius:4px}
.tb_list table tbody td .q_not{display:inline-block;vertical-align:top;background-color:#fff;border:1px solid #747474;color:#747474;height:26px;line-height:26px;width:64px;text-align:center;margin-right:5px;border-radius:4px}
.tb_list table tbody td.review_td{background-color:#f9f9f9}
.tb_list table tbody td.review_td .review_text{width:770px;padding-left:170px;text-align:left;line-height:20px}
.tb_list table tbody td.qna_td{background-color:#f9f9f9;padding:0}
.tb_list table tbody td.qna_td .qa_text{padding:20px 200px 20px 80px;text-align:left}
.tb_list table tbody td.qna_td .q_text{padding:20px 200px 20px 80px;text-align:left;background: url(../images/icon/qna_q.gif) no-repeat 45px 20px}
.tb_list table tbody td.qna_td .a_text{padding:20px 200px 20px 80px;text-align:left;background: url(../images/icon/qna_a.gif) no-repeat 45px 20px;border-top:1px solid #dfdfdf;line-height:1.2}
.tb_list table tbody td.qna_td .a_text .answer_date{margin-top:10px;font-size:13px}
.tb_list table tbody .review_content{display:none}
.tb_list table tbody .qna_content{display:none}
.tb_list table tbody .qna_content .not_answer{padding:30px 0;border-top:1px solid #dfdfdf}
.tb_list table tbody .qna_content .not_answer span{display:inline-block;line-height:66px;padding-left:80px;background: url(../images/icon/not_answer.gif) no-repeat 0 0}

.lnb_wrap{width:240px;margin-right:50px;float:left}
.lnb_wrap .lnb_title{font-weight:bold;font-size:22px;line-height:150%;color:#555;border-bottom:1px solid #ccc;padding:23px 0 20px 0}
.lnb_box .lnb_list > li > a{display:block;border-bottom:1px solid #e9e9e9;font-size:13px;line-height:40px;font-weight:bold;padding-left:11px;background: url(../images/bg/lnb_off.png) no-repeat 222px 14px}
.lnb_box .lnb_list > li.on > a{background: url(../images/bg/lnb_on.png) no-repeat 222px 14px}
.lnb_box .lnb_list > li .depth2{display:none}
.lnb_box .lnb_list > li.on .depth2{display:block}
.lnb_box .depth2 > li{margin-left:20px}
.lnb_box .depth2 > li > a{display:block;border-bottom:1px solid #e9e9e9;font-size:13px;line-height:40px;padding-left:9px}
.lnb_box .depth2 > li.dep2_on a{color:#067db5;font-weight:bold}

.faq_menu{border:2px solid #067db5;width:236px;margin-right:50px;float:left;margin-top:24px}

.right_content{width:850px;float:left}
.user_modify{border:1px solid #dadada;padding:0 0 10px 0;position:relative}
.user_modify .user_mo_t{line-height:40px;font-size:14px;font-weight:bold;color:#555;height:40px;background-color:#f7f7f7;text-indent:19px;border-bottom:1px solid #dadada;margin-bottom:10px}
.user_modify .insert_list{}
.user_modify .insert_list li{float:left;width:50%;line-height:28px;margin:7px 0 8px 0}
.user_modify .insert_list li.oneline{width:100%}
.user_modify .insert_list li .is_th{float:left;width:140px;text-indent:20px;font-size:13px;line-height:28px}
.user_modify .insert_list li .is_th label.req{background: url(../images/blt/ic_req.png) no-repeat 10px 10px;display:block}
.user_modify .insert_list li .is_td{float:left;width:284px}
.user_modify .insert_list li .is_td label{padding-right:20px}
.user_modify .insert_list li.oneline .is_td{float:left;width:708px}
.user_modify .insert_list li .is_td input.addr1{width:264px;margin-top:7px}
.user_modify .insert_list li .is_td input.addr2{width:404px;margin-top:7px}
.user_modify .ic_req{position:absolute;right:0;top:-30px}
.user_modify .ic_req strong{display:inline-block;width:12px;height:12px;background: url(../images/blt/ic_req.png) no-repeat 50% 50%;text-indent:-9999px}



.pagebar_btn{position:relative;padding-top:15px}
.pagebar_btn .page_bar{position:relative;left:-50%;float:right}
.pagebar_btn .page_bar li{position:relative;left:50%;float:left}
.pagebar_btn .btn_left{position:absolute;left:0;top:12px}
.pagebar_btn .btn_right{position:absolute;right:0;top:12px}

.btn_img{padding:0;border:none;background-color:transparent}

.category_wrap{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.category_wrap .category_list{padding:25px 25px 5px 25px}
.category_wrap .category_list li{float:left;width:180px;margin-bottom:20px}

.product_tabwrap{position:relative}
.product_tabwrap .tab_title{border-bottom:1px solid #dfdfdf;height:35px;margin-top:15px}
.product_tabwrap .tab_title li{float:left;height:34px;line-height:34px;border:1px solid #dfdfdf;margin-left:-1px}
/*
.product_tabwrap .tab_title li{float:left;padding:0 18px;height:34px;line-height:34px;border:1px solid #dfdfdf;margin-left:-1px}
*/
.product_tabwrap .tab_title li.first{margin-left:0}
.product_tabwrap .tab_title li.on{background-color:#f6f6f5}
.product_tabwrap .tab_title li a{display:block;color:#555;font-size:14px}
.product_tabwrap select{position:absolute;right:0;top:0}


/*login */
.login_box{background-color:#f2f2f2;border:1px solid #dfdfdf;padding:65px 345px}
.login_box .ip_box .ip_left{float:left}
.login_box .ip_box .ip_left p{overflow:hidden;margin-bottom:8px}
.login_box .ip_box .ip_left p label{float:left;width:70px;display:block;line-height:28px;font-weight:bold;font-size:15px;color:#5a5a5a}
.login_box .ip_box .ip_left p input{float:left;display:block;width:248px}
.login_box .ip_box .ip_right{float:left;margin-left:5px}
.login_box .ip_box .ip_right input{width:115px;height:64px;border:1px solid #404040;background-color:#5a5a5a;border-radius:4px;font-size:16px;color:#fff;font-weight:bold}
.login_box .p_save{margin-left:70px}

.etc_wrap{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.etc_wrap .find_box{float:left;width:401px;padding:42px 0 45px 160px;background: url(../images/bg/bg_lock.png) no-repeat 40px 42px;height:110px}
.etc_wrap .find_box p{font-size:15px;line-height:20px;padding:15px 0}
.etc_wrap .mjoin_box{float:left;width:418px;border-left:1px solid #dfdfdf;padding:42px 0 45px 160px;background: url(../images/bg/bg_man.png) no-repeat 40px 42px;height:110px}
.etc_wrap .mjoin_box p{font-size:15px;line-height:20px;padding:15px 0}
.etc_wrap .rd_btn{padding:3px 23px;font-size:15px;color:#5a5a5a;border:1px solid #dfdfdf;border-radius:14px}

.tab_title{}
.tab_title li{float:left;width:138px;height:34px;line-height:34px;margin-left:-1px;border:1px solid #dfdfdf;text-align:center}
.tab_title li.first{margin-left:0}
.tab_title li.on{background-color:#f6f6f5}
.tab_title li a{display:block;font-size:14px}
.find_gbox{background-color:#f2f2f2;border:1px solid #dfdfdf;padding:40px 260px 30px 260px}
.find_gbox .find_tx{font-size:13px;margin-bottom:15px}
.find_gbox label{display:inline-block;width:115px;line-height:28px;font-weight:bold}
.find_gbox .ip_name{margin-bottom:8px}
.find_gbox .ip_name input{width:475px}
.find_gbox .ip_com{margin-bottom:8px}
.find_gbox .ip_com input{width:465px}

.find_gbox2{background-color:#f2f2f2;border:1px solid #dfdfdf;padding:40px 260px 30px 260px}
.find_gbox2 label{display:inline-block;width:120px;line-height:28px;font-weight:bold}
.find_gbox2 .ip_id{margin-bottom:8px}
.find_gbox2 .ip_com{margin-bottom:8px}
.find_gbox2 .ip_comno{margin-bottom:8px}
.find_gbox2 .ip_name{margin-bottom:8px}

.ls_box .btn_search{margin-left:-30px;margin-top:4px}

.est_list table thead th{font-weight:bold;font-size:13px;background-color:#f9f9f9;border-bottom:1px solid #dfdfdf;border-top:1px solid #dfdfdf;padding:11px 0}
.est_list table tbody td{text-align:center;border-bottom:1px solid #dfdfdf;padding:10px 0;font-size:13px}
.est_list table tbody td p.p_subject{display:inline-block;}
.est_list table tbody td > span{display:inline-block;vertical-align:middle;line-height:15px}
.est_list table tbody td .img_box img{vertical-align:middle;border:1px solid #dfdfdf}


.est_insert tbody th{border:1px solid #dfdfdf;background-color:#f9f9f9;color:#505050;font-size:13px;padding:10px 0}
.est_insert tbody td{border:1px solid #dfdfdf;padding:7px 12px;}
.est_insert tbody td select{width:100%}
.est_insert tbody td .ta_box{border:1px solid #d3d3d3;padding:10px}
.est_insert tbody td .ta_box textarea{border:none;width:100%;height:100px}

.est_insert tbody td .est_com{float:left;width:802px}
.est_insert tbody td .uip{margin-top:8px}
.est_insert tbody td .est_search{float:left}
.est_insert tbody td .est_search button{width:108px;padding:13px 0;font-size:13px}
.est_insert tbody td.lh28{line-height:28px}
.est_insert tbody td.lh28 label{padding:0 5px;font-size:13px}
.est_insert tbody td.lh28 .btn_img{height:28px}
.est_insert tbody td select{width:150px}

.best_menu{}
.best_menu .best_cate{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.best_menu .best_cate li{float:left;width:120px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;height:49px;line-height:49px;text-align:center;margin-left:-1px}
.best_menu .best_cate li.first{margin-left:0}
.best_menu .best_cate li a{display:block;font-size:13px;color:#5a5a5a}
.best_menu .best_cate li.on{background-color:#865733}
.best_menu .best_cate li.on a{font-weight:bold;color:#fff}
.best_item_wrap{}
.best_item_wrap .best_item_list{}
.best_item_list{margin-left:-20px}
.best_item_list li{float:left;margin-left:20px;overflow:hidden;margin-top:20px;padding-bottom:20px;width:212px;height:360px}
.best_item_list li.nodata{width:100%;float:none;text-align:center;line-height:360px}
.best_item_list li .best_ord{background-color:#5b5b5b;line-height:25px;text-align:center;min-width:15px;padding:0 5px;display:inline-block;color:#fff;font-weight:normal;font-size:14px;margin-bottom:1px}
.best_item_list li span{text-align:center;display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.best_item_list li span.tal{text-align:left;display:block}
.best_item_list .p_img_box{width:210px;height:208px;border:1px solid #dfdfdf;position:relative;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.best_item_list .p_img_box > img{width:210px;height:208px;}
.best_item_list li .p_img_box a{-webkit-transition: all 1.0s ease;-o-transition: all 1.0s ease;transition: all 1.0s ease;position:absolute;left:50%;top:50%;margin-left:-28px;margin-top:-28px;opacity:0; filter: alpha(opacity=0)}
.best_item_list .p_title{margin-top:18px;font-size:14px;color:#505050}
.best_item_list .p_price{color:#505050;font-size:16px;font-weight:bold;margin-top:8px}
.best_item_list .p_detail{margin-top:8px}
.best_item_list .p_text{margin-top:8px;height:50px}
.best_item_list li:hover{}
.best_item_list li:hover .p_img_box{border:1px solid #7d7d7d; -webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
.best_item_list li:hover .p_img_box a{opacity:1;width:55px;height:55px;filter: alpha(opacity=100);}

.best_item_list li .img_box{position:relative;width:212px;height:210px}
.best_item_list li .img_box .before{border:1px solid #dfdfdf;width:210px;height:208px;position:absolute;left:0;top:0;z-index:10;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.best_item_list li:hover .img_box .before{border:1px solid #7d7d7d; -webkit-transform: rotateY(180deg);transform: rotateY(180deg);z-index:4}
.best_item_list li .img_box .before img{width:210px;height:208px}
.best_item_list li .img_box .after{border:1px solid #dfdfdf;width:210px;height:208px;position:absolute;left:0;top:0;z-index:5;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;-webkit-transform: rotateY(180deg);transform: rotateY(180deg);}
.best_item_list li:hover .img_box .after{-webkit-transform: rotateY(360deg);transform: rotateY(360deg)}
.best_item_list li .img_box .p_img{width:210px;height:208px}
.best_item_list li .img_box .p_img img{width:210px;height:208px}
.best_item_list li .img_box .after .bg{background-color:#000;opacity:0.5;height:208px;width:210px;z-index:8px;position:absolute;left:0;top:0;filter: alpha(opacity=50);}
.best_item_list li .img_box .after .detail_img{position:absolute;left:0;top:50%;margin-top:-30px;opacity:0;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease}
.best_item_list li:hover .img_box .after .detail_img{opacity:1}
.best_item_list li.above19 .p_img_box{-webkit-transition: none;-o-transition: none;transition: none;-webkit-transform: none;transform: none}

.promote_top{padding-bottom:20px}
.promote_top .promote_left{float:left}
.promote_top .promote_right{float:right;text-align:right}
.promote_top .promote_right label{line-height:28px;font-size:14px;color:#555}
.promote_top .promote_right select{width:215px}

.content_search{text-align:center;padding-bottom:30px;line-height:40px}
.content_search .consearch_ip{padding:10px 4px;border:1px solid #404040;border-radius:4px;width:290px}
.content_search label{padding:0 10px}
.content_search label input{margin-right:4px}
.btn_consearch{background-color:#5a5a5a;border:1px solid #404040;border-radius:4px;padding:0 20px;color:#fff;line-height:38px;font-size:16px;font-weight:bold}

.search_result{border-top:1px solid #505050;border-bottom:1px solid #505050;font-size:16px;font-weight:bold;height:50px;line-height:50px;text-indent:5px}
.cate_result{padding:20px 15px;background-color:#fafafa;border-bottom:1px solid #dfdfdf}
.cate_result label{padding:0 10px;font-size:13px}
.cate_result label input{margin-right:4px}
.search_btn_wrap{padding:30px 0 50px 0;text-align:center;background: url(../images/bg/title_bg.gif) repeat-x 0 100%}
.search_btn_wrap button{margin:0 4px}
.not_search{border-top:1px solid #505050;border-bottom:1px solid #505050;padding:30px 0}
.not_search h6{margin-left:370px;font-size:22px;margin-bottom:40px;font-weight:normal}
.not_search h6 em{font-weight:bold;color:#0783c3}
.search_tip{padding-left:140px;background: url(../images/blt/search_tip.gif) no-repeat 0 50%;margin-left:235px}
.search_tip li{line-height:24px;padding-left:8px;background: url(../images/blt/blt_dot.png) no-repeat 0 10px;color:#4a4a4a}

.promote_menu .promote_cate{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.promote_menu .promote_cate li{float:left;width:120px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;height:49px;line-height:49px;text-align:center;margin-left:-1px;margin-top:-1px;margin-bottom:-1px}
.promote_menu .promote_cate li.first{margin-left:0}
.promote_menu .promote_cate li a{display:block;font-size:13px;color:#5a5a5a}
.promote_menu .promote_cate li.on{background-color:#0783bd}
.promote_menu .promote_cate li.on a{font-weight:bold;color:#fff}

.promote_select{text-align:right}
.promote_div{background: url(../images/bg/promote_div_bg.gif) repeat 0 0;border:1px solid #dfdfdf;padding:18px}
.promote_left{width:454px;float:left}
.promote_div .promote_tt{font-size:20px;font-weight:bold;padding:5px 0;line-height:24px}
.promote_div .promote_info_list li{margin-top:5px;font-size:13px;padding-left:10px;background: url(../images/blt/blt_dot.png) no-repeat 2px 7px}
.promote_right{width:648px;float:left}
.promote_it_list li{float:left;margin-left:18px;position:relative}
.promote_it_list li .over_box{display:none;width:198px;height:191px;position:absolute;left:0;top:0}
.promote_it_list li:hover .over_box{display:block}
.promote_it_list li:hover .overlay{display:block;width:198px;height:191px;position:absolute;left:0;top:0;background-color:#000;opacity:0.75;filter: alpha(opacity=75)}
.promote_it_list li:hover .promote_title{line-height:20px;font-size:14px;text-align:center;color:#fff;display:block;width:198px;position:absolute;left:0;top:75px}
.promote_it_list li:hover .promote_price{line-height:20px;font-size:14px;font-weight:bold;text-align:center;color:#fff;width:198px;position:absolute;left:0;top:95px}


.item_detail{padding-bottom:50px}
.item_detail .item_slide{float:left;width:560px}
.item_detail .item_slide .item_main{border:1px solid #dfdfdf;width:558px;height:537px}
.item_detail .item_slide .item_main img{width:558px;height:537px}
.item_detail .item_slide .item_sub{margin-right:-15px;position:relative}
.item_detail .item_slide .item_sub_list li{float:left;border:1px solid #dfdfdf;width:98px;height:94px;margin-right:15px}
.item_detail .item_slide .item_sub_list li img{width:98px;height:94px}

.print_img{float:left;width:560px}
.print_img .item_main{border:1px solid #dfdfdf;width:558px;height:537px}
.print_img .item_main img{width:558px;height:537px}
.print_img .item_sub{margin-right:-15px;position:relative}
.print_img .item_sub_list li{float:left;border:1px solid #dfdfdf;width:98px;height:94px;margin-right:15px}
.print_img .item_sub_list li img{width:98px;height:94px}

.item_detail .item_info{float:right;width:560px;border-top:1px solid #e2e2e2}
.item_info .ii_list{;padding-bottom:12px}
.item_info .ii_list li{line-height:28px;padding:3px 0}
.item_info .ii_list li strong{display:block;width:270px;float:left;text-indent:12px;font-size:14px;line-height:28px;}
.item_info .ii_list li span.ii_dd{display:block;width:270px;float:left;line-height:20px;padding:4px 0 4px 20px}
.item_info .ii_list li span.sell_price{font-size:22px;font-weight:bold}
.item_info .ii_list li span select{}
.item_info .ii_list li span .btn_img{height:28px}
.item_sum{padding-left:275px;background-color:#f8f8f8;border-top:1px solid #aaa;border-bottom:1px solid #e2e2e2}
.item_sum .is_tt{display:block;width:90px;float:left;line-height:48px;font-size:14px;font-weight:bold}
.item_sum .is_total_price{display:block;width:180px;text-align:right;padding-right:15px;float:left;line-height:48px;font-size:22px;font-weight:bold}
.item_info .if_btn{padding:15px 0 0 0}
.item_info .if_btn button{width:272px;height:33px;font-size:14px}
.item_info .if_btn .btn_agree{float:left}
.item_info .if_btn .btn_wh{float:right}
.item_info .ic_wrap{padding-top:15px}
.item_info .ic_wrap .fav_area{float:left}
.item_info .ic_wrap .fav_area a{padding-left:44px;background: url(../images/icon/ic_fav.png) no-repeat 0 0;display:block;height:34px;line-height:34px;font-size:14px}
.item_info .ic_wrap .fav_area span{padding-left:4px;display:inline-block;width:44px;height:20px;line-height:20px;margin-top:9px;background: url(../images/icon/ic_cnt.png) no-repeat 0 0;text-align:center;color:#fff;font-size:14px}
.item_info .ic_wrap .sns_list {float:right}
.item_info .ic_wrap .sns_list li{float:left;margin-left:6px}
.item_info .seller_infomation{border:1px solid #dfdfdf;margin-top:18px}
.item_info .seller_infomation .seller_logo{float:left;border-right:1px solid #dfdfdf;height:98px}
.item_info .seller_infomation .seller_info{float:left;padding:9px 25px}
.item_info .seller_infomation .seller_info .seller_name{font-size:16px;font-weight:bold;color:#505050;margin-bottom:5px}
.item_info .seller_infomation .seller_info .seller_info_list li{line-height:20px;font-size:12px}
.item_info .seller_infomation .seller_info .seller_info_list li.follow{line-height:26px;height:26px;padding-top:4px}

.als-container {position: relative;width: 100%;margin: 0px auto;z-index: 0;}
.als-viewport {position: relative;overflow: hidden;margin: 0px auto;width:100% !important;text-align:left;height:auto !important}
.als-wrapper {position: relative;list-style: none;height:auto !important}
.als-item {position: relative;display: block;float: left;}
.als-prev, .als-next {position: absolute;cursor: pointer;clear: both;z-index:100}

#item_s .als-prev{position:absolute;left:7px;top:46px}
#item_s .als-next{position:absolute;right:22px;top:46px}


.page_box{font-size:12px}
.page_box .page_seperator{display:none}
.page_box li{vertical-align:top}
.page_box li.page_margin{display:none}
.page_box .page_first_btn{background: url(../images/icon/page_first.jpg) no-repeat 0 0;width:25px;height:24px;margin:0 2px !important}
.page_box .page_p_btn{background: url(../images/icon/page_prev.jpg) no-repeat 0 0;width:25px;height:24px;margin:0 2px !important}
.page_box .page_n_btn{background: url(../images/icon/page_next.jpg) no-repeat 0 0;width:25px;height:24px;margin:0 2px !important}
.page_box .page_last_btn{background: url(../images/icon/page_last.jpg) no-repeat 0 0;width:25px;height:24px;margin:0 2px !important}
.page_box .page_prev_btn{display:none}
.page_box .page_next_btn{display:none}
.page_box .page_number_btn{width:23px;height:22px;font-size:12px;line-height:22px;vertical-align:top;margin:0 2px !important;border:1px solid #dedede;color:#505050}
.page_box .page_number_btn_on{width:23px;height:22px;font-size:12px;line-height:22px;vertical-align:top;background-color:#b7b7b7;color:#fff;margin:0 2px !important;border:1px solid #b7b7b7}


.btn_unfollow{display:inline-block;width:88px;height:24px;text-indent:-9999px;background: url(../images/btn/btn_follow.gif) no-repeat 100% 0}
.btn_follow{display:inline-block;width:88px;height:24px;text-indent:-9999px;background: url(../images/btn/btn_follow.gif) no-repeat 0 0}

.ic_lock{display:inline-block;width:24px;height:28px;text-indent:-9999px;background: url(../images/icon/ic_lock.png) no-repeat 50% 50%;vertical-align:top}

.order_listsearch{}
.order_listsearch .list_dot{padding:15px 24px 5px 24px;border:1px solid #dfdfdf}
.order_listsearch li{float:left;line-height:28px;margin-bottom:10px;width:390px}
.order_listsearch li label{display:block;float:left;width:60px;font-size:13px}
.order_listsearch li .ls_box{float:left;width:325px}
.order_listsearch li .ls_box button{line-height:18px;height:28px}

.order_list{}
.order_list table{}
.order_list table thead th{padding:10px 0;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:13px;background-color:#f9f9f9}
.order_list table tbody td{padding:10px 0;text-align:center;border-bottom:1px solid #dfdfdf;font-size:13px;height:90px}
.order_list table tbody td td{border-bottom:none;border-top:1px solid #dfdfdf}
.order_list table tbody td td.first{border-top:none}
.order_list table tbody td span img{width:100px}
.order_list table tbody td .t_option{color:#999;display:block}
.order_list table tfoot td{padding:10px;background-color:#f9f9f9;border-bottom:1px solid #999;line-height:26px}
.order_list table tfoot td em{font-size:18px}
.order_list table tbody td.pay_price{font-size:18px}

.refund_list{}
.refund_list table{}
.refund_list table thead th{padding:10px 0;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:13px;background-color:#f9f9f9}
.refund_list table tbody td{padding:10px 5px;text-align:center;border-bottom:1px solid #dfdfdf;font-size:13px;min-height:125px}
.refund_list table tbody td span img{width:100px}
.refund_list table tbody td .t_option{color:#999;display:block}

/*label */
span.label{display:inline-block;width:53px;height:26px;line-height:26px;border-radius:4px;text-align:center}
span.label_blue{border:1px solid #086196;color:#086196}
span.label_gray{border:1px solid #aaa;color:#aaa}
span.label_red{border:1px solid #e71818;color:#e71818}


.bg_cart{background: url(../images/bg/bg_cart.gif) no-repeat 0 50%;font-size:16px;padding:10px 0 10px 86px;line-height:24px;margin-left:175px}
.bg_cart2{background: url(../images/bg/bg_cart.gif) no-repeat 0 50%;font-size:16px;padding:10px 0 10px 86px;line-height:24px;margin-left:150px}
.bg_cart2 p{font-size:13px}
.gr_box{background-color:#f5f5f5;border:1px solid #dfdfdf;border-radius:4px;padding:15px}
.gr_box .line_box{background-color:#fff;border:1px solid #dfdfdf;border-radius:4px;padding:10px 15px}
.gr_box .line_box li{overflow:hidden;line-height:28px;border-top:1px solid #dfdfdf;font-size:13px}
.gr_box .line_box li.first{border-top:none}
.gr_box .line_box li .lbth{display:block;float:left;width:100px;padding-left:10px;background: url(../images/blt/blt_dot.png) no-repeat 0 12px}
.gr_box .line_box li .lbtd{display:block;float:left;width:676px}

.tb_view{border:1px solid #dfdfdf;border-top:none}
.tb_view tbody th{background-color:#f9f9f9;font-size:13px;line-height:20px;padding:10px;border-top:1px solid #dfdfdf}
.tb_view tbody td{font-size:13px;line-height:20px;padding:10px;border-top:1px solid #dfdfdf}


.gt_dl dt{padding-left:20px;margin-top:30px;background: url(../images/blt/blt_gt.gif) no-repeat  9px 6px;line-height:24px;font-size:13px;color:#505050;font-weight:bold}
.gt_dl dd{padding-left:20px;line-height:20px;font-size:13px;color:#888}

.center_top .inner{position:relative}
.center_top .inner a{position:absolute;right:18px;top:32px}

.faq_menu .faq_tt{font-size:18px;font-weight:bold;color:#fff;background-color:#067db5;line-height:40px;text-indent:13px}
.faq_menu .faq_tt em{font-size:13px}
.faq_menu .faq_tab .tab_title li{width:79px;height:47px;border:none;margin-left:0;font-size:14px}
.faq_menu .faq_tab .tab_title li a{display:block;height:40px;border-bottom:1px solid #e6e6e6;color:#505050;line-height:40px;font-weight:bold;border-left:1px solid #e6e6e6}
.faq_menu .faq_tab .tab_title li.first{width:78px}
.faq_menu .faq_tab .tab_title li.first a{border-left:none}
.faq_menu .faq_tab .tab_title li.on{background: url(../images/bg/faq_on.gif) no-repeat 50% 0}
.faq_menu .faq_tab .tab_title li.on a{border:none;color:#fff}
.faq_menu .tab_con_wrap .tab_con{padding:0 19px}
.faq_menu .faq_flist{}
.faq_menu .faq_flist li{line-height:20px;padding:10px;border-top:1px solid #e9e9e9}
.faq_menu .faq_flist li a{display:block;font-size:13px;color:#505050}
.faq_menu .faq_flist li.on a{font-weight:bold;color:#067db5}
.faq_menu .faq_flist li.first{border-top:none}

.center_page .tab_title{width:100%;border-bottom:1px solid #dfdfdf;height:39px}
.center_page .tab_title li{border-bottom:none;height:39px;background-color:#e6e6e6}
.center_page .tab_title li a{display:block;color:#424242;font-size:15px;font-weight:bold}
.center_page .tab_title li.on{background-color:#fff}
.center_page .tab_title li.on a{color:#067db5}
.faq_search_area{padding-left:354px;padding-top:65px;height:180px;background: url(../images/bg/faq_bg.jpg) no-repeat 0 0}
.faq_search_area h5{font-size:30px;color:#555}
.faq_search_area p{font-size:13px;color:#5a5a5a}
.faq_search_area input{border:1px solid #404040;border-radius:4px}
.rank_st li{padding:0 15px;background: url(../images/blt/blt_gbar.gif) no-repeat 0 4px;float:left}
.rank_st li.first{background-image:none}

.faq_path{padding:10px 0}
.faq_path li{float:left;font-size:16px;color:#555;font-weight:bold}
.faq_path li.crt{color:#e71818;padding-left:22px;background: url(../images/blt/blt_gt.gif) no-repeat 10px 6px}
.faq_dep2{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;padding:15px 0}
.faq_dep2 li{padding:0 35px;background: url(../images/blt/blt_gbar.gif) no-repeat 0 4px;float:left}
.faq_dep2 li.first{background-image:none}
.faq_dep2 li a{color:#555}


.q_search{padding:15px;text-align:center;border:1px solid #dfdfdf}
.sum_list{float:right}
.sum_list li{padding:0 30px 0 50px;float:left;font-size:15px;color:#505050}
.sum_list li.dis_tp{background: url(../images/icon/ic_dc.gif) no-repeat 0 50%}
.sum_list li.add_tp{background: url(../images/icon/ic_plus.gif) no-repeat 0 50%}
.sum_list li.final_tp{background: url(../images/icon/ic_eq.gif) no-repeat 0 50%}
.sum_list li span.cart_span{display:block;font-weight:bold;font-size:18px;color:#505050}
.sum_list li span.cart_span em{color:#e71818}
.pay_info{background-color:#f5f5f5;border:1px solid #dfdfdf;padding:15px}
.pay_info .pay_wbox{padding:10px;border:1px solid #dfdfdf;background-color:#fff }
.pay_wbox .pay_th{display:block;width:100px;float:left;line-height:20px;text-align:right;font-weight:bold;font-size:13px;padding:7px 0 }
.pay_wbox .pay_td{display:block;width:676px;float:left;line-height:20px;padding:7px 0 7px 20px}
.pay_wbox .pay_th2{display:block;width:80px;float:left;line-height:20px;text-align:right;font-weight:bold;font-size:13px;padding:7px 0 }
.pay_wbox .size_td{width:334px}
.pay_wbox .size_td2{width:150px;text-align:right}
.pay_wbox .pay_td label{margin-right:20px}
.pay_wbox .pay_td textarea{border:1px solid #dfdfdf;padding:5px;width:655px}
.pay_lbox{width:510px;float:left;margin-right:20px}
.pay_rbox{width:320px;float:left}
.pay_rbox span.cart_span{display:block;font-weight:bold;font-size:18px;color:#505050}
.pay_rbox span.cart_span em{color:#e71818}
.pay_rbox  .btn_pay{width:100%;line-height:33px;font-size:14px;cursor:pointer}

.review_modify{display:inline-block;vertical-align:top;background-color:#fff;border:1px solid #086196;color:#086196;height:26px;line-height:26px;width:64px;text-align:center;margin-right:5px;border-radius:4px;font-size:13px;font-weight:bold}

.shop_wrap{padding:13px 0 12px 0;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.shop_wrap .shop_logo{float:left;height:120px;width:245px;line-height:120px}
.shop_wrap .shop_logo img{max-width:100%;vertical-align:middle}
.shop_wrap .shop_info{float:left;padding:21px 25px 20px 25px;width:205px}
.shop_wrap .shop_info .shop_name{font-size:16px;font-weight:bold;color:#505050;margin-bottom:5px}
.shop_wrap .shop_info .shop_info_list li{line-height:20px;font-size:12px}
.shop_wrap .shop_info .shop_info_list li.follow{line-height:26px;height:26px;padding-top:4px}
.shop_wrap .shop_text{padding:15px;line-height:18px;background-color:#f5f5f5;float:left;width:610px}
.product_tabwrap select.select_pos2{position:absolute;right:180px;top:0}


.c_title{font-size:16px;color:#555;font-weight:bold}
.info_menu{width:240px;margin-right:50px;float:left;margin-top:24px}
.info_menu .info_title{font-weight:bold;font-size:22px;text-indent:8px}
.info_menu .info_lnb{border:1px solid #e6e6e6;background-color:#f9f9f9;margin-top:15px}
.info_menu .info_lnb li{border-top:1px solid #e6e6e6;background: url(/html/images/blt/lnb_off.gif) no-repeat 213px 14px}
.info_menu .info_lnb li.first{border-top:none}
.info_menu .info_lnb li.on{background-image:url(/html/images/blt/lnb_on.gif)}
.info_menu .info_lnb li a{display:block;font-weight:bold;color:#505050;font-size:13px;padding:10px 13px}

.ftab{overflow:hidden}
.ftab li{border:1px solid #dfdfdf;float:left;width:168px;height:34px;line-height:34px;text-align:center;margin-left:-1px}
.ftab li.first{margin-left:0}
.ftab li.on {background-color:#f6f6f5}
.ftab li a{color:#505050;font-size:14px;display:block}
.ftab li.on  a{font-weight:bold}

.clause_tx{padding-top:35px}
.clause_tx .ftitle{font-size:16px;color:#505050;font-weight:bold}
.clause_tx .stitle{font-size:16px;color:#505050;font-weight:bold}
.clause_tx .depth1{color:#888}
.clause_tx .depth2{color:#888}
.clause_tx .depth3{padding-left:15px;color:#888;padding-top:20px;padding-bottom:20px}
.clause_tx .line{padding-top:20px;border-top:1px solid #ddd}

.coment_wrap .comment_title{font-size:14px;margin-bottom:10px}
.coment_wrap .comment_box{border:1px solid #dfdfdf;padding:15px;background-color:#f8f8f8}
.coment_wrap .comment_box .text_ip{overflow:hidden}
.coment_wrap .comment_box textarea{border:1px solid #c3c3c3;width:1018px;height:54px;}

.make_wrap .inner{line-height:0;position:relative}
.make_wrap .make_img{background-color: #dcdadb}
.make_wrap .make_place{background-color:#0783bd}
.make_wrap .make_upload .btn_pos{position:absolute;left:59px;top:372px}
.make_wrap .pla_box{background: url(/html/images/make/make_bg.jpg) no-repeat 0 0;overflow:hidden;padding:67px 0 28px 0}
.make_wrap .pla_box p.pla01{float:left;margin-left:89px}
.make_wrap .pla_box p.pla02{float:left;margin-left:162px}
.make_wrap .pla_box p.pla03{float:left;margin-left:170px}
.make_wrap .make_flat {background-color:#f7f7f7}
.make_wrap .make_flat .btn_pos1{position:absolute;left:376px;top:282px}
.make_wrap .make_flat .btn_pos2{position:absolute;left:881px;top:282px}
.make_wrap .make_flat .btn_pos3{position:absolute;left:1014px;top:282px}
.make_wrap .make_detail {background-color:#f7f7f7}
.make_wrap .make_detail .btn_pos{position:absolute;left:175px;top:412px}


/*

}
@media all and (min-width:768px) and (max-width:1024px) {
#wrap{display:none}
}
*/
/* 스마트폰 공통 */
/*
@media all and (max-width:767px) {
#wrap{display:none}

}
*/